


<div class="row">

  <div class="col-md-12 text-center">

      <p>
        Ingrese al chat con su cuenta favorita
      </p>
    
      <button type="button" class="btn btn-outline-primary"
              (click)="ingresar('google')">
              <i class="fab fa-google"></i>
        Google
      </button>
      <br>
      <br>

      <button type="button" class="btn btn-outline-dark"
              (click)="ingresar('GitHub')">
              <i class="fab fa-github"></i>
        GitHub
      </button>


  </div>

</div>
